<div class="col-lg-10 col-md-10  " style="padding: 0px!important">

<div class="w3-block material-shadow safe-box w3-white " style="padding: 0px!important" >
  <div class="w3-block w3-padding w3-display-topright"   >
    <button
      style="border-radius: 5em;"
      class="w3-button material-shadow btn-sm w3-red"
      *ngIf="canRemove && selectedResources.size() > 0"  >
      {{ "remove selected" | trans }} <i class="fa fa-trash"></i>
    </button>
  </div>

  <div class="text-center w3-padding">
    <b>
      {{ "countries" | trans }}
    </b>
    <br>
    <br>
  </div>
  <table class="excel-table table-bordered text-center text-center" id="printable" >

    <tr class="w3-light-gray" >
      <th class="w3-padding" >{{ "#" | trans }}</th>
      <th class="w3-padding" >{{ "id" | trans }}</th>
      <th class="w3-padding" >{{ "name" | trans }}</th>
      <th class="w3-padding" >{{ "remove"| trans }}</th>
    </tr>
    <tr *ngIf="loading"  >
      <td class="w3-text-indigo text-center" colspan="3" >
        <i class="fa fa-spin fa-spinner"></i>
      </td>
    </tr>
    <ng-container *ngFor="let item of data index as i" >
      <tr  *ngIf="!loading" >
        <td>
          <div class="w3-center text-center hidden" >
            <mat-slide-toggle
            [checked]="selectedResources.has(item.id)"
            (change)="toggle(item)"
            ></mat-slide-toggle>
          </div>
          <mat-checkbox
          [checked]="selectedResources.has(item.id)"
          (change)="toggle(item)"></mat-checkbox>
        </td>
        <td>
          <input
          type="text"
          class="w3-block w3-border-0  text-center"
          readonly
          [(ngModel)]="item.id"  >
          <span style="display: none;" >{{ item.date }}</span>
        </td>
        <td>
          <input
          type="text"
          style="min-width: 200px;"
          class="w3-block w3-border-0 text-center"
          (change)="send(item)"
          [readOnly]="item.id && !canEdit || !item.id && !canAdd"
          [(ngModel)]="item.name" >
          <span style="display: none;" >{{ item.name }}</span>
        </td>
        <td>
          <button
          class="fa fa-trash w3-button"
          *ngIf="canRemove"  (click)="destroy(item, i)" ></button>
        </td>
      </tr>
    </ng-container>

  </table>
</div>
<br>
<button mat-raised-button  class="w3-indigo" *ngIf="canAdd" (click)="create()" >
  <i class="fa fa-plus"></i>
</button>

</div>
